<!-- Created by My Duyen Phung 301218170 -->
<!-- About Me Page -->

<!--Main Content -->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <h1>About me page </h1>
      <br><br>
      <div class="about-section">
        <meta charset="utf-8">
        <div class="container">
          <h3>My Duyen Phung 301218170</h3>     
          <div>
            <img src="/Assets/images/Me.jpg" alt="my picture" style="float:right;" height="200" width="200">
            <p class="intro-block"><p>I'm a student in the <i>Artificial Intelligence</i> program at <b>Centennial College.</b></p>
            <p>One of my favorite quote is:</p>
            <blockquote>
              <i>We simply attempt to be fearful when others are greedy and to be greedy only when others are fearful.</i>
              <br><b><i>Warren E. Buffet</i></b>
            </blockquote>
            <p class="mission-block"> "Exploring the unknown together </p>
            <div class="cv-block">
                <a href="/CV.pdf" target="_blank">Link to my CV</a>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </main>